# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode
app/build
app/bin

# Private data
app/data/*.xml
app/data/flows.json
app/data/flows_old.json